html,body
{
    width: 100%;
    height: 100%;
    background-image: url('page2b.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.section-1
{
    height: 100%;
    display: grid;
    grid-template: repeat(20, 1fr)/repeat(20, 1fr);
}

.forms
{
    grid-row: 1/21;
    grid-column: 1/21;
    justify-self: center;
    align-self: center;
    position: relative;
    right: 120px;
    top: 30px;
}

h1
{
    margin: ;
    grid-column: 1/21;
    grid-row: 1/21;
    justify-self: center;
    font-family: 'Lilita One';
    letter-spacing: 4px;
    color: #ff0044;
}

#h1
{
    margin-left: 100px;
}

label, p
{
    margin: 0px;
    font-family: Courgette;
    font-size: 25px;
}

#textbox-field
{
    margin-top: 20px;
    height: 25px;
}

#textbox-field, #review-field
{
    font-family: Courgette;
    color: white;
    font-size: 15px;
    padding: 4px;
    background-color: rgb(62, 120, 247, .3);
    border: 3px solid red;
    margin: 0px;
}

#submit-button
{
    font-size: 20px;
    border-radius: 4px;
    font-family: Audiowide;
    background: red;
    margin-left: 150px;
    margin-top: 5px;
}

#submit-button:hover
{
    background-color: #0cedb1;
    transition: .5s ease-in;
}

#user-name
{
    grid-column: 16/21;
    grid-row: 5/7;
    position: relative;
    left: -25px;
    font-family: 'Carter One';
    animation-name: slideInRight;
    animation-duration: 3s;
}

#reaction
{
    grid-column: 17/22;
    grid-row: 6/9;
    font-family: 'Carter One';
    align-self: end;
    animation-name: slideInLeft;
    animation-duration: 3s;
}

.emojies
{
    width: 300px;
    grid-column: 17/21;
    grid-row: 11/17;
    position: relative;
    left: -30px;

}

#emojies-like
{
    width: 200px;
    grid-column: 17/21;
    grid-row: 11/17;
    position: relative;
    left: -20px;
    top: -20px;
}

.emojies-hate
{
    width: 200px;
    grid-column: 17/21;
    grid-row: 11/17;
    position: relative;
    left: -20px;
    top: -50px;

}

#reaction-hate
{
    grid-column: 17/22;
    grid-row: 8/10;
    font-family: 'Carter One';
    align-self: end;
    animation-name: slideInLeft;
    animation-duration: 3s;
    font-size: 20px;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.declaration
{
    grid-row: 20/21;
    grid-column: 15/21;
    font-size: 15px;
}

#home-icon
{
    width: 40px;
}

.home-icon
{
 grid-row: 1/3;
 grid-column: 2/4;
}