<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/home.css">
    <meta charset="UTF-8">
    <title>J M K</title>
</head>
<body>
    <div class="section-1">
        <img id="logo" src="../static/logo.png">
        <div class="whattsapp"><img src="../static/whattsapp.png"><span id="no">9656940864</span></div>
        <div class="gmail">
            <img src="../static/gmail.png">
            <span id="address">jimmymathew2010@gmail.com<br>jimmymathew5989@gmail.com</span>
        </div>
        <div class="phone">
            <img src="../static/phone2.png">
            <span id="phone-no">9946015263</span>
        </div>
        <div class="twitter">
            <img src="../static/twitter.png"><span id="twitter-id">jimmykottaram</span>
        </div>
    </div>
    <div class="section-2">
        <div class="text">
            <h1 id="a">Thank you for choosing us</h1>
            <h1 id="b">Your happiness is our priority</h1>
            <h1 id="c">Please give your valuable opinion about the product, I will analyse it</h1>
        </div>
        <a id="button" href="page1"><span id="a">REVIEW</span></a>
        <img id="image-1" src="../static/image1.png">
        <h1 id='heading-1' style='font-family: Righteous;'>NEVER</h1>
        <h1 id='heading-2' style='font-family: Righteous;'>SETTLE</h1>
    </div>

    </div>



</body>
</html>